<h2>Rejestracja</h2>
<div class="form-group">
    <label for="email">Email:</label>
    <input type="email" class="form-control" id="email" placeholder="Wprowadź email">
</div>
<div class="form-group">
    <label for="password">Hasło:</label>
    <input type="password" class="form-control" id="password" placeholder="Wprowadź hasło">
</div>
<div class="form-group">
    <label for="login">Login:</label>
    <input type="text" class="form-control" id="login" placeholder="Wprowadź login">
</div>
<div class="form-group">
    <label for="companyName">Nazwa firmy:</label>
    <input type="text" class="form-control" id="companyName" placeholder="Wprowadź nazwę firmy">
</div>
<div class="form-group">
    <label for="companyNip">NIP firmy:</label>
    <input type="text" class="form-control" id="companyNip" placeholder="Wprowadź NIP firmy">
</div>
<div class="form-group">
    <label for="name">Imię:</label>
    <input type="text" class="form-control" id="name" placeholder="Wprowadź imię">
</div>
<div class="form-group">
    <label for="lastName">Nazwisko:</label>
    <input type="text" class="form-control" id="lastName" placeholder="Wprowadź nazwisko">
</div>
<button type="submit" class="btn btn-primary">Zatwierdź</button>